{% extends 'portfolio/base.html' %}


{% block title %}
About | Amit Mondal
{% endblock %}


{% block content %}

<section class="container page-section">

    <h1>About Me</h1>

    <div class="about-content">

        <p>
            My name is Amit Mondal.
            I am learning Python and Django
            for web development.
        </p>

        <p>
            I enjoy learning programming by building
            practical projects and solving problems.
        </p>

        <p>
            My current learning areas include
            Python, Django, HTML, CSS, SQL,
            Git and GitHub.
        </p>

    </div>

</section>

{% endblock %}